@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Muito Bem-vindo</h1>
    <p>Uma loja que é totalmente focada na satisfação do cliente.</a>.</p>
</div>
