@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>

<p>A Loja Desapega foi fundada em 2022, sendo um exercício de Programação de Software Aplicado para entendermos melhores sobre ASP.NET.</p>
<p>Propósito: É uma loja baseada em pessoas que acabam se enjoando de algum item e querendo se desfazer dele.</p>
<p>Valores: A Loja Desapega prega em 3 pilares fundamentais: Entrega, Qualidade e Disponibilidade.</p>
<p>Visão: Ser a maior loja de compra e venda brasileira até o ano de 2025.</p>
